<a href="https://colab.research.google.com/github/Shihabtareq/Energy-Demand-of-Bangladesh/blob/master/Energy_autoARIMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyramid-arima

Collecting pyramid-arima
  Downloading https://files.pythonhosted.org/packages/5c/84/57422f2a6ade3161c586545e38b518ba1b7ab30ee4a4acc29110c0aba2bc/pyramid_arima-0.9.0-cp36-cp36m-manylinux1_x86_64.whl (597kB)
     |████████████████████████████████| 604kB 2.8MB/s
Requirement already satisfied: scikit-learn>=0.17 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (0.22.2.post1)
Requirement already satisfied: Cython>=0.23 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (0.29.16)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (1.18.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (1.0.3)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from pyramid-arima) (0.10.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.17->pyramid-arima) (0.14.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pyramid-arima) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pyramid-arima) (2.8.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.9.0->pyramid-arima) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.19->pyramid-arima) (1.12.0)
Installing collected packages: pyramid-arima
Successfully installed pyramid-arima-0.9.0

In [0]:
from pyramid.arima import auto_arima

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/Shihabtareq/Energy-Demand-of-Bangladesh/master/Eenrgy-demand.csv",parse_dates=['Year'], index_col='Year')
df.head()

            Demand  Population  GDP
Year
1994-01-01    2038         117  300
1995-01-01    2220         119  329
1996-01-01    2419         120  395
1997-01-01    2638         127  401
1998-01-01    2881         128  407

In [18]:
df.dtypes

Demand        int64
Population    int64
GDP           int64
dtype: object

In [28]:
exgo=df[['Population','GDP']]
print(exgo)

            Population   GDP
Year
1994-01-01         117   300
1995-01-01         119   329
1996-01-01         120   395
1997-01-01         127   401
1998-01-01         128   407
1999-01-01         130   410
2000-01-01         132   418
2001-01-01         134   415
2002-01-01         133   413
2003-01-01         135   446
2004-01-01         137   475
2005-01-01         139   499
2006-01-01         141   510
2007-01-01         143   558
2008-01-01         145   635
2009-01-01         146   702
2010-01-01         148   781
2011-01-01         152   862
2012-01-01         154   883
2013-01-01         156   982
2014-01-01         159  1119
2015-01-01         161  1248
2016-01-01         163  1402
2017-01-01         164  1564
2018-01-01         166  1698

In [29]:
model = auto_arima(df.Demand, start_p=1,exogenous=exgo, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=False,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)
print(model.aic())

Fit ARIMA: order=(1, 1, 1); AIC=nan, BIC=nan, Fit time=nan seconds
ERROR! Session/line number was not unique in database. History logging moved to new session 60
Fit ARIMA: order=(0, 1, 0); AIC=364.015, BIC=368.727, Fit time=0.011 seconds
Fit ARIMA: order=(1, 1, 0); AIC=365.579, BIC=371.469, Fit time=0.196 seconds
Fit ARIMA: order=(0, 1, 1); AIC=nan, BIC=nan, Fit time=0.102 seconds
Total fit time: 0.339 seconds
364.01518501415734

In [36]:
print(model.summary())

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                   24
Model:                 ARIMA(0, 1, 0)   Log Likelihood                -178.008
Method:                           css   S.D. of innovations            402.641
Date:                Tue, 07 Apr 2020   AIC                            364.015
Time:                        16:48:27   BIC                            368.727
Sample:                             1   HQIC                           365.265

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1004.3829   1883.162     -0.533      0.599   -4695.312    2686.546
x1             8.8338     15.681      0.563      0.579     -21.901      39.568
x2             0.2731      0.543      0.503      0.620      -0.791       1.337
==============================================================================